.customBtn{
    margin-top: 55px;
    margin-left: 50px;
    background-image: linear-gradient(to bottom left, #00f2c3, #0098f0, #00f2c3);
}

/* This is for exhibition delete button populating through js */
#exhDelBtn{
    margin: 10px;
}

#selectArtist{
    margin-right: -35px;
    margin-top: 10px;
}

#exhError{
    margin-top: 55px;
    margin-left: 50px;
    color: red;
}